<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ÁBACO DIOCESANO</title>
  <link rel="stylesheet" href="/static/css/general.css">
  <link rel="stylesheet" href="/static/css/select.css">
  <link rel="shortcut icon" href="/static/images/favicon.png" type="image/x-icon">
  <!-- Bootstrap y Bootstrap Icons -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>



</head>

<body>
  <!-- HEADER -->
  <header>
    <button id="btnToggleSidebar" class="btn-toggle-sidebar" type="button" aria-label="Abrir menú">
      ☰
    </button>
    <img src="/static/images/imagen.png" alt="logo de abaco">
    <h5 class="mb-0"> <strong>DIOCESANO</strong></h5>
    <div>
      <!-- Dropdown usuario -->
      <div class="dropdown">
        <a class="d-flex align-items-center text-decoration-none dropdown-toggle" href="#" id="menuUsuario"
          role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: inherit;">

          <i class="bi bi-person-circle me-2"></i>
          <strong>{{usuario}}</strong>
        </a>

        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="menuUsuario">
          <li>
            <a class="dropdown-item" href="{{url_for('rutas_dp.manual_usuario')}}" target="_blank">
              <i class="bi bi-journal-text me-2"></i> Manual de usuario
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <a class="dropdown-item text-danger" style="cursor: pointer;" onclick="cerrar()">
              <i class="bi bi-box-arrow-right me-2"></i> Cerrar sesión
            </a>
          </li>
        </ul>
      </div> <span class="noti-wrapper me-3 position-relative">
        <i class="bi bi-bell-fill" id="iconoNotificaciones" style="cursor:pointer;"
          onclick="mostrarNotificaciones()"></i>
        <span id="badgeNotificaciones" class="badge-notify d-none">0</span>
      </span>

    </div>

  </header>

  <!-- LAYOUT -->
  <div class="main-layout">

    <!-- SIDEBAR -->
    <div class="sidebar">
      <a href="{{ url_for('rutas_dp.menu_central') }}"><i class="bi bi-house-door-fill"></i><span>Inicio</span></a>
      <a href="{{ url_for('rutas_dp.menu_de_parroquias') }}"><i class="bi bi-bank"></i><span>Organizaciones</span></a>
      <a href="{{ url_for('rutas_dp.menu_producto') }}"><i class="bi bi-bookmark-plus"></i><span>Productos</span></a>
      <a href="{{ url_for('rutas_dp.menu_donante') }}"><i class="bi bi-people-fill"></i><span>Donantes</span></a>
      <a href="{{ url_for('rutas_dp.pagina_principal') }}"><i class="bi bi-heart-fill"></i><span>Entradas</span></a>
      <a href="{{ url_for('rutas_dp.lista_donaciones') }}"><i class="bi bi-bag-check"></i><span>Lista de
          Entradas</span></a>
      <a href="{{ url_for('rutas_dp.tabla_producto') }}"><i class="bi bi-table"></i><span>Inventario</span></a>
      <a href="{{ url_for('rutas_dp.movimiento_inv') }}"><i class="bi bi-box-arrow-right"></i><span>Salidas</span></a>
      <a href="{{ url_for('rutas_dp.lista_salidas') }}"><i class="bi bi-card-checklist"></i><span> Lista de
          Salidas</span></a>
      <a href="{{ url_for('rutas_dp.menu_gastos') }}"><i class="bi bi-box-seam"></i><span>Reportes de Salidas</span></a>
      <a href="{{ url_for('rutas_dp.menu_reportes') }}"><i class="bi bi-graph-up"></i><span>Reportes y
          Certificados</span></a>
      <a href="{{ url_for('rutas_dp.pag_confi') }}"><i class="bi bi-gear-fill"></i><span>Configuración</span></a>
      <a class="mt-auto" style="cursor: row-resize;" onclick="cerrar()"><i class="bi bi-box-arrow-left"></i><span>Cerrar
          sesión</span></a>
    </div>


    <!-- CONTENIDO -->
    <div class="container my-4">

      <div class="form-scroll">

        <form id="formParroquia">
          <!-- 🔹 Botón de regresar en la esquina del formulario -->
          <a href="{{ url_for('rutas_dp.menu_de_parroquias') }}"
            class="btn btn-outline-success btn-sm position-absolute">
            <i class="bi bi-arrow-left"></i>
          </a>
          <h1>Registrar Nueva Parroquia</h1>
          <label for="nombreParroquia">Nombre de la parroquia</label>
          <input type="text" id="nombreParroquia" placeholder="Nombre de la parroquia" required>
          <label for="tipo_organizacion">Tipo de organización</label>
          <select id="tipo_organizacion" required>
            <option value="">Seleccione un tipo</option>
          </select>
          <label for="nombrePadre">Nombre del encargado</label>
          <input type="text" id="nombrePadre" placeholder="Juan Rodriguez" required>
          <label for="tipoDocumento">Tipo de documento</label>
          <select id="tipoDocumento" required>
            <option value="">Seleccione un tipo</option>
          </select>
          <label for="numeroDocumento">Número de documento (NIT/CC)</label>
          <input type="text" id="numeroDocumento" placeholder="Número de documento" required>
          <label for="telefono">Número de teléfono</label>
          <input type="tel" id="telefono" placeholder="Número de teléfono" required>
          <label for="direccion">Dirección</label>
          <input type="text" id="direccion" placeholder="Dirección" required>
          <label for="correo">Correo electrónico</label>
          <input type="email" id="correo" placeholder="Correo electrónico" required>
          <label for="familiasAtendidas">Cuantas Familias atiende</label>
          <input type="number" id="familiasAtendidas" placeholder="Número de familias atendidas" required>
          <!-- consumo API departamentos y municipios -->
          <div class="mb-3">
            <label for="departamentos" class="form-label">Selecciona un departamento:</label>
            <select class="form-select" id="departamentos" onchange="traer()">
              <option selected disabled>Departamentos</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="municipios" class="form-label">Selecciona un municipio:</label>
            <select class="form-select" id="municipios" disabled>
              <option selected disabled>Municipios</option>
            </select>
          </div>

          <button type="submit" class="btn btn-success mt-3 w-100">Guardar Parroquia</button>
        </form>

        <h2>Lista de Parroquias Registradas</h2>

        <table id="tablaParroquias">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Organización</th>
              <th>Encargado</th>
              <th>Teléfono</th>
              <th>Ciudad</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <!-- Aquí se agregarán las filas dinámicas -->
          </tbody>
        </table>

      </div>
    </div>

    <!-- 🔹 Modal para actualizar Parroquia -->
    <div class="modal fade" id="modalActualizarParroquia" tabindex="-1" aria-labelledby="modalActualizarParroquiaLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-success text-white">
            <h5 class="modal-title" id="modalActualizarParroquiaLabel">Actualizar Parroquia</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
              aria-label="Cerrar"></button>
          </div>
          <div class="modal-body">
            <form id="formActualizarParroquia">
              <div class="mb-3">
                <label for="idParroquiaModal" class="form-label">ID</label>
                <input type="text" id="idParroquiaModal" class="form-control" readonly>
              </div>
              <div class="mb-3">
                <label for="nombreParroquiaModal" class="form-label">Nombre de la parroquia</label>
                <input type="text" id="nombreParroquiaModal" class="form-control" required>
              </div>

              <div class="mb-3">
                <label for="categoriaParroquiaModal" class="form-label">Tipo de Organización</label>
                <select id="categoriaParroquiaModal" class="form-select" required>
                  <option value="">Selecciona un tipo</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="nombrePadreModal" class="form-label">Nombre del Padre</label>
                <input type="text" id="nombrePadreModal" class="form-control" required>
              </div>
              <div class="mb-3">
                <label for="tipo" class="form-label">Tipo de documento</label>
                <select id="tipo" class="form-select" required>
                  <option value="">Selecciona un tipo</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="numeroDocumentoModal" class="form-label">Numero de documento</label>
                <input type="text" id="numeroDocumentoModal" class="form-control" required>
              </div>
              <div class="mb-3">
                <label for="numeroTelefonoModal" class="form-label">Numero de telefono</label>
                <input type="text" id="numeroTelefonoModal" class="form-control" required>
              </div>
              <div class="mb-3">
                <label for="direccionParroquiaModal" class="form-label">Dirección</label>
                <input type="text" id="direccionParroquiaModal" class="form-control" required>
              </div>
              <div class="mb-3">
                <label for="correoParroquiaModal" class="form-label">Correo electrónico</label>
                <input type="text" id="correoParroquiaModal" class="form-control" required>
              </div>

              <div class="mb-3">
                <label for="tipo" class="form-label">Seleccione un departamento</label>
                <select id="tipo" class="form-select" required>
                  <option value="">Selecciona un departamento</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="tipo" class="form-label">Seleccione un municipio</label>
                <select id="tipo" class="form-select" required>
                  <option value="">Selecciona un municipio</option>
                </select>
              </div>
              <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-secondary me-2" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-success">Actualizar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <img src="/static/images/favicon.png" alt="header icon" style="
        width: 30px;
        height: 30px;
        position: fixed;
        bottom: 10px;
        right: 10px;
z-index: 999;">

    <script src="/static/js/resaltar.js"> </script>
    <script src="/static/js/notificacion.js"></script>
    <script src="/static/js/parroquias.js"></script>
    <script src="/static/js/time.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
      resaltar()
    </script>
</body>

</html>